<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libra.spring.demo.dao.GenderInfoMapper">
    <resultMap id="BaseResultMap" type="com.libra.spring.demo.model.entity.GenderInfo">
        <!--@mbg.generated-->
        <!--@Table gender_info-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="used" jdbcType="BIT" property="used"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, used
    </sql>

    <select id="selectAll" resultMap="BaseResultMap" resultSets="gender">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from gender_info
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from gender_info
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from gender_info
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.libra.spring.demo.model.entity.GenderInfo">
        <!--@mbg.generated-->
        insert into gender_info (id, `name`, used)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{used,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.libra.spring.demo.model.entity.GenderInfo">
        <!--@mbg.generated-->
        insert into gender_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="used != null">
                used,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="used != null">
                #{used,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.libra.spring.demo.model.entity.GenderInfo">
        <!--@mbg.generated-->
        update gender_info
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="used != null">
                used = #{used,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.libra.spring.demo.model.entity.GenderInfo">
        <!--@mbg.generated-->
        update gender_info
        set `name` = #{name,jdbcType=VARCHAR},
            used   = #{used,jdbcType=BIT}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-11-15-->
    <select id="selectAllByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gender_info
        where `name` = #{name,jdbcType=VARCHAR}
    </select>
</mapper>